[submodule "lib/atlantis"]
	path = lib/atlantis
	url = https://github.com/ooyala/atlantis
[submodule "lib/atlantis-builder"]
	path = lib/atlantis-builder
	url = https://github.com/adityagodbole/atlantis-builder
[submodule "lib/atlantis-router"]
	path = lib/atlantis-router
	url = https://github.com/ooyala/atlantis-router
[submodule "lib/atlantis-supervisor"]
	path = lib/atlantis-supervisor
	url = https://github.com/ooyala/atlantis-supervisor
